/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
body, main{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    margin: 0;
    background-color: #2081c3;
    color: #f7f9f9;  
    height: 50px;
    font-size: 14px;
    font-weight: 600;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e7e5e5;
}

#homebeer{
    display: block;
    height: 300px;
    width: 300px;
    margin: 20px;
}

nav ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav li{
    padding-right: 20px;
}

nav a{
    text-decoration: none;
    color:#f7f9f9;
}



footer {
    margin:0;
    background-color: #0a2c42;
    color: #f7f9f9;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    padding-top: 25px;
    padding-left: 20px;
}